.button {
    background-color: #1e73be;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    margin: 20px 30px;
  }
  .select-btn{
      width: 150px;
  }
  .main {
    width: 600px;
    margin: auto;
    padding-top: 30px;
  }