body {
  background-color: rgb(134, 134, 134);
}
#localVideo {
  width: 20%;
  height: 32%;
  margin-left: 50px;
  position: absolute;
  bottom: 5%;
  z-index: 1;
  border: 1px solid grey;
  border-radius: 3px;
}
#remoteVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
